/* Add application styles & imports to this file! */

#heroDiv {
  /*   outline-color: black;
  outline-style: solid;
  outline-width: 0.5px;
  padding: 10px; */
}
#villainDiv {
  /*   outline-color: black;
  outline-style: solid;
  outline-width: 0.5px;
  padding: 10px; */
}
